# Privy App ID
# Copy this file to .env in the frontend folder and replace with your real Privy app ID.
VITE_PRIVY_APP_ID=your_privy_app_id_here

# Solana mainnet RPC URL
VITE_SOLANA_RPC_URL=

VITE_SOLANA_WS_RPC= 

VITE_LULO_API_KEY= 

VITE_JUP_API_KEY= 

VITE_BACKEND_URL = 'https://defi-corre.onrender.com'
